@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;600;800&display=swap');

:root{
    --toolBar_courseCard_background: #F5F6FF;
    --text_color: #141619;
    --text_color_shade: rgba(20, 22, 25, 0.08); 
    --text_color_dark_shade_80: rgba(20, 22, 25, 0.8);
    --text_secondry_text_dark: rgba(20, 22, 25, 0.72);
    --text_color_list_hover: #E0D6FF;
    --lesson_module_background: #E6EBF3;
    --module_goal_background:#F5F5F5;
    --shade-dark-8:rgba(20, 22, 25, 0.08);
    --klar-button: #EA4848;
    --lesson: #E0D6FF;
    --lesson-blue : #B6DCFF;

}

* {
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    padding:0 1rem;
    background-color: #EBEDF2;
}

.wrapper{
    max-width:800px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

h1,h2,h3,h4,a,p,span {
    font-family: 'Cairo', Georgia, Times,serif;
    
}
a{
    text-decoration: none;
}
 ul{
    list-style: none;
    padding: 0;
    margin:0; 
}
.H1_Huge {
    font-weight: 600;
    font-size: 3.8rem;
    margin: 0;
}
.H2_section_sub_header{
    font-weight: 600;
    font-size: 1.87rem;
}
.H3_header{
    font-weight: 600; 
    font-size: 1.37rem;
    color: var(--text_secondry_text_dark);
}

.card_p_short_desc{
    font-size: 0.75rem;
    font-weight: 600;
}

/* COMPONENTS  */

/* site_navbar */

.site_navbar{
    display: flex;
    align-items: center;
    margin: 1rem;
    

}

.site_navbar--menuButton{
    display: flex;
    flex-direction: column;
    margin:1rem 2rem;
    width: 2rem;
    gap: 4px;
}

.site_navbar--menuButton div{
    display: block;
    background-color: #141619;
    margin: 0;
    padding: 0;
    height: 2px;
}

.site_navbar--menuButton div:nth-child(2){width: 80%;}
.site_navbar--menuButton div:nth-child(3){width: 40%;}

.site_navbar--sideMenu{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 1rem 5rem;
    transition: all 1s;
    background-color: rgba(0, 0, 0, 0.9);
}

.site_navbar--sideMenu--exitButton{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    right: 0;
    padding:1rem;
    margin:2rem;
    text-align: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    color: #F5F6FF;
    background-color:rgba(255, 255, 255, .5);
    
}

.sideMenu--close{
    transform: translate(-100% , 0);
}

.sideMenu--open{
    transform: translate(0 , 0);
}

.site_navbar--sideMenu--exitButton:hover{
    background: #EA4848;
}
.site_navbar--sideMenu a{
    color: var(--text_color_list_hover);
    font-size: 2rem;
}

.site_navbar--sideMenu a:hover{
    color: var(--klar-button);
}


.site_navbar--logo{
    width: 106px;
    margin: 0;
    padding:0;
    line-height: 0;
}

.site_navbar--bug{
    margin: 0 0 0 auto;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background:rgba(39, 40, 42, 0.24) ;
    padding: .15rem;
}

.site_navbar--bug img {
    width:100%;
    margin:0;
    padding: .2rem;

}






/* Unlisted Toolbar  */

.unlisted_toolbar__list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color:var(--toolBar_courseCard_background) ;
    padding:0.5rem 0;
    margin: 1rem;
    border-radius: 0.37rem;
    box-shadow:  0px 0.37rem 1rem rgba(0, 0, 0, 0.05);
}
.unlisted_toolbar__list li{
    padding: 0;
}

.unlisted_toolbar__list  a{
    display: block;
    text-transform: uppercase;
    padding: .5rem;
    color: var(--text_color);
    font-weight: 600;

    border-right:0.07rem solid var(--text_color_shade);

}
.unlisted_toolbar__list  a:hover{
    color: var(--text_color_list_hover);
}
.unlisted_toolbar__list__active a{
    font-weight: 800;
}


/* LESSON HEADER */

.lesson_header{
    display: flex;
    align-items: flex-start;
    background-color:var(--lesson_module_background) ;
    margin: 1rem 0;
    padding:1rem;
    border-radius: .4rem;
}

.lesson_header__left{
    flex-shrink: 0;
    margin: 0 ;
    margin-right: 1.96rem;
}
.lesson_header__left > h2{
    display: table;
    border-bottom:0.12rem solid var(--text_color);
    margin: 0;
    padding: 0;
}
.lesson_header__right{
    margin: 0;
    margin-left: 1.96rem;
    flex-grow: 1;
}

.lesson_header__right > h2 {
    margin: 0;
    padding: 0;
    
}

.lesson_header__right__list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.lesson_header__right__list > li{
    display:flex;
    margin: 1rem 0;
}
.lesson_header__right__list li > p {
    margin:0;
    /* font-size: 1rem; */
    /* font-weight: 400; */
}
.lesson_header__right__list > li span {
    margin: 0 1rem 0 0 ;
    padding:0 .6rem ;
    background:rgba(243, 245, 247, 0.94); 
}



/* <!--Start Activity Self Assessment --> */

.Start_Activity_Self_Assessment_bar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.Start_Activity_Self_Assessment_bar a{
    flex-grow: 1;
    text-align: center;
    border:0.062rem solid var(--text_color);
    padding:0.5rem 0;
    flex-shrink: 0; 
}

.Start_Activity_Self_Assessment_bar a:last-child{
    border-radius: 0 .5rem .5rem 0;
}
.Start_Activity_Self_Assessment_bar a:first-child{
    border-radius:.5rem 0 0 .5rem;
}

.Button__activ {
    background-color: var(--text_color_dark_shade_80);
    color: #fff;
}

.Start_Activity_Self_Assessment_bar a:hover{
    background-color: var(--text_color_dark_shade_80);
    color: #fff;
}


/* '<!--START Modul Goal -->' */

.Modul_Goal{
    display: table;
    background: var(--shade-dark-8);
    padding:.25rem 1rem;
  
}


/* '<!--START LINK -->' */

.Modul_link{

    padding:.25rem 1rem;
    background-color: var(--shade-dark-8);
    display: flex;
    align-items: center;
    color:var(--text_color);
    font-weight: 300;
}

.lesson__modul_links li:first-of-type{border-radius: 0.37rem 0.37rem 0 0; overflow: hidden;}
.lesson__modul_links li:last-of-type{border-radius: 0 0 0.37rem 0.37rem; overflow: hidden;}


.Modul_link_camera::before {
    content: ' ';
    width: 2rem; 
    height: 2rem;
    padding:0 1rem 0 0 ;
    margin:0;  
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/68/Video_camera_icon.svg);
    background-repeat: no-repeat;
}


.Modul_link_pdf::before {
    content: ' ';
    width: 2rem; 
    height: 2rem;
    padding:0 1rem 0 0 ;
    margin:0;  
    background-image: url(https://www.svgrepo.com/show/12712/document.svg);
    background-repeat: no-repeat;
    background-size: 2rem 2rem;
}


/* <!--START Course Card  --> */

.course_card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--toolBar_courseCard_background);
    padding: 0;
    margin: 1rem .5rem;
    max-width: 15rem;
    border-radius: .5rem .5rem 0 0 ;
    overflow: hidden;
}

.course_card__image{
    margin: 0;
    padding: 0;

}

.course_card__image img{
    margin: 0;
    width: 100%;
    height: 12.5rem;
    padding: 0;
}

.course_card__description{
    margin: 0;
    padding: 1rem;
    line-height: 1.2rem;
}

.H4_card_header{
    margin: 0;
    font-size: 1.12rem;
    font-weight: 600; 
}

.course_card__description p {
    margin: 0;
    font-size: .87rem;
    font-weight: 300; 
}

.course_card_menu{
    margin:2.5rem 0 0 0 ;
    text-align: center;
    width: 100%;
    border-radius:.5rem ;
    overflow: hidden;
}

.course_card_menu > li{
    margin: 0;
    padding: 0;
    
    
}

.course_card_menu > li a{
    display: block;
    padding: .25rem 0 ;
    margin: .09rem 0;
    background: var(--shade-dark-8);
    color: var(--text_secondry_text_dark);
}

.course_card_menu li .Button__activ   {
    color: #fff;
    background-color: var(--text_color_dark_shade_80);
   
}
 
/* toggle button  */


.toggle_button_container{

    display: flex;
    align-items: center;
    line-height: 0;
    margin: 1rem 0;
}
.toggle_button_container p {
    margin: 0;
}
.toggle_button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 2.5rem;
    height: 1.25rem;
    padding:0;
    margin: 0 1rem;
    border: .2rem solid var(--text_color);
    background-color: var(--text_color) ;
    border-radius: 5rem;
}

.toggle_button::after{
    display: block;
    width: 1rem; 
    height: 1rem;
    content: ' ';
    background: #fff;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    transition: .5s;
}


.toggle_button:hover{
    justify-content:flex-start;
    background-color:rgb(2, 209, 2);


}






/* range_slider */


.range_slider{
    display: flex;
    align-items: center;
    width: 100%;
    margin:0;
    padding: 0;
}
.slider_module{
    padding:1rem ;
    margin: 1rem 0;
    background-color: var(--shade-dark-8) ;
}

.sliderRange{
    appearance: none;
    flex-grow: 1;
    height: .1rem;
    margin: 0 2rem;
    background: #141619;
}
.sliderRange::-webkit-slider-thumb{
    appearance: none;
    width: 26px; 
    height: 26px;
    background-color: #141619;
    border-radius: 50%;
}

/* range_slider */



/* klar_Button */
.Klar_button_container{

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Klar_button{
    color: var(--text_color_list_hover);  
    appearance: none;
    background: var(--klar-button);
    border: none;
    width: 100%;
    padding:1rem;
    margin: 0;
    border-radius: .25rem;
}

.Klar_button:hover{
    background: #ef6565;
}
.Klar_button:active{
    background: #8b3b3b;
}


.lesson{
    background-color: var(--lesson);
    border-radius: .5rem;
    padding: 1rem;
    margin:2.5rem 0;
}

.lesson--white{
    background-color: var(--toolBar_courseCard_background);
}

.lesson--purple{
    background-color: var(--toolBar_courseCard_background);
}

.lesson--blue{
    background-color: var(--lesson-blue);
}

.lesson p{
    font-weight: 600;
}


.lesson__modul_links{
    display: flex;
    flex-direction: column;
    gap: .1rem;
    
    overflow: hidden;

}

.lesson .Start_Activity_Self_Assessment_bar{
    margin-top: 2rem;
}


.lesson_date__section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}

.lesson_date__section p , .lesson_date__section h3 {
    margin: 0;
    padding: 0;
    
}



.lesson_date__section p {
    line-height: 1.1rem;
}


/* Index1 styling  */
.cards__container{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}


/* index2 styling  */
.main_headerTitle{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem;
}

.main_subheaderTitle{
    margin: 1rem;
    color: var(--text_secondry_text_dark);
}


.main_lessons_toggle{
    margin-top: 3rem;
}


.lessons_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width:768px) {
   .course_card{
    max-width: 100%;
    width: 100%;
   }


   .course_card__image img {
    object-fit: cover ;
   }
}